{% extends 'base.html' %}

{% block title %}
You're Logged in! 
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <h3>Fairs</h3>
            <ul class="list-group">
              {% for fair in fairs %}
              <li class="list-group-item">{{ fair.name }}</li>
              {% endfor %}
                
            </ul>
        </div>
        <div class="col-sm">
            <h3>Participant Count: {{ participant_count }}</h3>
            <h3>Entry Count: {{ entry_count }}</h3>
            <h3>Prize Money Awarded: ${{ prize_money_awarded }}</h3>
        </div>
      </div>

    
{% endblock %}