:root {
    --primary-color: #05154C; /* Navy */
    /*  --primary-color-transparent: #05154C88; Navy with Transparency  */
    --primary-color-transparent: #05154C;
    --highlight-color: #FCFAEE; /* Light Cream  */
}

body, html {
  height: 100%;
  margin: 0;

  color: var(--highlight-color);
}

body {
    height: 100%;
    // background-color: #05154C;
    background-image: linear-gradient(to right top, #05164c, #511058, #8a0050, #b40837, #c64503);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body > .container {
    margin-top: 3rem;
    background-color: var(--primary-color-transparent);
}

.jumbotron {
    background-color: transparent;
}

.navbar {
    background-color: var(--primary-color-transparent);
}

.list-group{
    color: var(--primary-color);
}

.logo {
    width: 10rem;
}

.home-button {
    font-size: 1.5rem;
    background-color: #3A7C50;
    border-color: #05154C;
}

.home-button:hover {
    background-color: #3A7C50;
    border-color: #A7C50C;
}